.container {
    /* width: 1080px; */
    width: 80%;
    margin: 0px auto;
}

.cardContainer {
    padding: 8px 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}